<div class="row">
    <div class="col-sm-4 offset-md-4">
        <div class="card card-body">
            <form (submit)="edit ? updateUser() : submitUser()">
                <div class="from-group">
                    <input type="text" name="name" [(ngModel)]="user.name" 
                    class="form-control" placeholder="User Name" autofocus>
                </div>
                <div class="from-group">
                    <input type="text" name="Idade" [(ngModel)]="user.idade" 
                     class="form-control" placeholder="Idade" >
                </div>
                <button class="btn btn-primary btn-block">
                    Salvar
                </button>
            </form>
        </div>
    </div>
</div>
